@using MvcStok.Models.Entity
@model PagedList.IPagedList<TBLKATEGORILER>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID </th>
        <th>KATEGORİ ADI </th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    <tbody>
        @foreach (var ktg in Model)
        {
            <tr>
                <td>@ktg.KATEGORIID</td>
                <td>@ktg.KATEGORIAD</td>
                <td><a href="/Kategori/Sil/@ktg.KATEGORIID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktg.KATEGORIID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
    
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}))
<a href="/Kategori/YeniKategori/"class="btn btn-primary">Yeni Kategori</a>